## Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database: A database is a structured collection of data that is organized and managed to provide efficient storage, retrieval, and manipulation of data. It provides a way to store, organize, and manage large amounts of data for various applications and purposes.

SQL Database: 
1. SQL (Structured Query Language) databases are relational databases that store data in tables with predefined schemas.
2. They use SQL as the standard language for querying and manipulating data. 
3. SQL databases are based on the relational model, where data is organized into tables with rows and columns.
4. They ensure data integrity through constraints, enforce relationships between tables through keys, and support ACID (Atomicity, Consistency, Isolation, Durability) properties.
5. Examples of SQL databases include MySQL, Oracle, Microsoft SQL Server, and PostgreSQL.

NoSQL Database:
1. NoSQL (Not Only SQL) databases are non-relational databases that provide a flexible and scalable approach to storing and managing data.
2. They do not require a fixed schema and can handle unstructured and semi-structured data.
3. NoSQL databases offer high scalability and performance by distributing data across multiple nodes. 
4. They support horizontal scaling, handle large volumes of data, and are often used in big data and real-time applications
5. NoSQL databases come in various types, such as document stores, key-value stores, columnar databases, and graph databases.
6. Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Neo4j.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language): DDL is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects.


CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas. For example, to create a new table named "Employees" with columns for employee ID, name, and salary, the CREATE TABLE statement can be used:

    CREATE TABLE Employees (
    EmployeeID INT,
    Name VARCHAR(50),
    Salary DECIMAL(10, 2)
    );

DROP: The DROP statement is used to remove database objects. It deletes the entire object and its associated data from the database. For example, to drop the "Employees" table created in the previous example, the DROP TABLE statement can be used:

    DROP TABLE Employees;

ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows adding, modifying, or dropping columns, constraints, or other attributes of a table, view, or index. For example, to add a new column named "Department" to the "Employees" table, the ALTER TABLE statement can be used:

    ALTER TABLE Employees
    ADD COLUMN Department VARCHAR(50);

TRUNCATE: The TRUNCATE statement is used to remove all rows from a table, effectively deleting all the data within the table while keeping its structure intact. Unlike the DROP statement, which deletes the entire table, TRUNCATE only removes the data. For example, to remove all rows from the "Employees" table, the TRUNCATE TABLE statement can be used:

    TRUNCATE TABLE Employees;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language):
DML is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML statements are used to insert, update, and delete data from tables, and they focus on the manipulation and retrieval of data rather than the structure of the database.

INSERT: 
The INSERT statement is used to insert new rows of data into a table. It adds new records to an existing table or a specified set of columns within a table. For example, to insert a new employee record into the "Employees" table, the INSERT INTO statement can be used:

    INSERT INTO Employees (EmployeeID, Name, Salary)
    VALUES (1, 'John Doe', 5000);

UPDATE:
The UPDATE statement is used to modify existing data within a table. It allows updating one or more columns of existing records based on specified conditions. For example, to update the salary of an employee with ID 1 in the "Employees" table, the UPDATE statement can be used:

    UPDATE Employees
    SET Salary = 6000
    WHERE EmployeeID = 1;

DELETE: 
The DELETE statement is used to remove specific rows of data from a table. It deletes records based on specified conditions or removes all rows if no conditions are provided. For example, to delete an employee record with ID 1 from the "Employees" table, the DELETE FROM statement can be used:

    DELETE FROM Employees
    WHERE EmployeeID = 1;

## Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language):
DQL is a subset of SQL (Structured Query Language) used to query and retrieve data from a database. DQL statements are primarily focused on retrieving data based on specified criteria and conditions.

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns to be retrieved, the table(s) from which to retrieve the data, and any filtering or sorting conditions. For example

    SELECT * FROM Employees;
This will retrieve all columns (*) from the "Employees" table.

You can also select specific columns by listing them after the SELECT keyword. 

    SELECT Name, Salary FROM Employees;

The SELECT statement can include additional clauses such as WHERE, ORDER BY, GROUP BY, JOIN, and more, to filter, sort, and manipulate the retrieved data based on specific criteria.

For example, to retrieve employee records with a salary greater than 5000 and order them by descending salary, the SELECT statement can be extended as:


    SELECT * FROM Employees
    WHERE Salary > 5000
    ORDER BY Salary DESC;

## Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a column or a combination of columns in a relational database table that uniquely identifies each row in the table.

For example, consider an "Employees" table with an "EmployeeID" column as the primary key. Each employee will have a unique EmployeeID assigned to them, which serves as their unique identifier within the table.

Foreign Key: 
A foreign key is a column or a combination of columns in a relational database table that establishes a link between data in two tables. It represents a relationship between the data in the referenced table (parent table) and the referencing table (child table)

For example, in a database schema, there may be an "Orders" table and a "Customers" table. The "Orders" table might have a foreign key column called "CustomerID" that refers to the primary key column "CustomerID" in the "Customers" table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

       pip install mysql-connector-python

       import mysql.connector

    Establish a connection
       cnx = mysql.connector.connect(
       host='your_host',
       user='your_username',
       password='your_password',
       database='your_database'
       )

    Create a cursor object
       cursor = cnx.cursor()

    Execute SQL queries
       query = "SELECT * FROM your_table"
       cursor.execute(query)

    Fetch and print the results
       results = cursor.fetchall()
       for row in results:
          print(row)

    Close the cursor and connection
       cursor.close()
       cnx.close()

cursor() method: The cursor() method is used to create a cursor object, which allows you to execute SQL queries and fetch the results. 

execute() method: The execute() method is used to execute an SQL query using the cursor object. It takes the SQL query as a parameter and executes it.

## Q7. Give the order of execution of SQL clauses in an SQL query.

1. from - choose and join tables to get base data
2. where - filter the base data
3. group by - aggregate the base data
4. having - filters the aggregated data
5. select - return the final data
6. order by - sorts the final data
7. limit - limits the returned to a row count