In [41]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [42]:
#paste url and change password
client=pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.jirxzzn.mongodb.net/?retryWrites=true&w=majority")

In [43]:
#create database 
db = client['pwskills']

In [44]:
#create collection in database
coll_create = db["my_record"]

In [45]:
#insert data 
data = {"name" : "sudh",
        "class" : "data science masters ",
        "timing " : "flexi"
}

In [46]:
coll_create.insert_one(data)

In [47]:
data1 = {"mail_id" : "sudh@gmail.com",
         "phone_number" :2343243242
}

In [48]:
coll_create.insert_one(data1)

In [49]:
data2 = {"list_course" : ["data science masters " , "web dev " , "java with DSA"],
        "mentor" : ["sudhanshu" , "anurag" , "hyder"]}

In [50]:
coll_create.insert_one(data2)

In [51]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [52]:
coll_create.insert_many(data3)

In [53]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [54]:
coll_create.insert_one(data4)

In [55]:
#suppose list of dictionary then we can insert it using many
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [56]:
coll_create.insert_many(list_of_records)

In [57]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6468a06039aaba46a90aec12'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('6468a14939aaba46a90aec13'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('6468a15a39aaba46a90aec14'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('6468a17939aaba46a90aec15'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6468a17939aaba46a90aec16'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6468a17939aaba46a90aec17'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6468a17939aaba46a90aec18'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6468a17939aaba46a90aec19'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6468a17939aaba46a90aec1a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6468a17939aaba46a90aec1b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6468a17939aaba46a90aec1c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6468a17939aaba46a90aec1d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6468a17939aaba46a90aec1e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6468a17939aaba46a90aec1f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6468a17939aaba46a90aec20'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6468a18f39aaba46a90aec21'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6468a1a639aaba46a90aec22'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6468a1a639aaba46a90aec23'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6468a1a639aaba46a90aec24'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [58]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [59]:
coll_create.insert_many(random_data)

In [60]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6468a06039aaba46a90aec12'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('6468a14939aaba46a90aec13'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('6468a15a39aaba46a90aec14'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('6468a17939aaba46a90aec15'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6468a17939aaba46a90aec16'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6468a17939aaba46a90aec17'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6468a17939aaba46a90aec18'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6468a17939aaba46a90aec19'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6468a17939aaba46a90aec1a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6468a17939aaba46a90aec1b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6468a17939aaba46a90aec1c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6468a17939aaba46a90aec1d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6468a17939aaba46a90aec1e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6468a17939aaba46a90aec1f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6468a17939aaba46a90aec20'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6468a18f39aaba46a90aec21'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6468a1a639aaba46a90aec22'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6468a1a639aaba46a90aec23'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6468a1a639aaba46a90aec24'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [61]:
coll_create.find_one()

{'_id': ObjectId('6468a06039aaba46a90aec12'),
 'name': 'sudh',
 'class': 'data science masters ',
 'timing ': 'flexi'}

In [62]:
for i in coll_create.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': ObjectId('6468a1a639aaba46a90aec22'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6468a1a639aaba46a90aec23'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6468a1a639aaba46a90aec24'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [63]:
for i in coll_create.find({'_id' : {'$gte' : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [64]:
coll_create.update_many({'companyName': 'iNeuron'} ,{"$set" :{'companyName': 'pwskills'}} )

In [65]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6468a06039aaba46a90aec12'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('6468a14939aaba46a90aec13'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('6468a15a39aaba46a90aec14'), 'list_course': ['data science masters ', 'web dev ', 'java with DSA'], 'mentor': ['sudhanshu', 'anurag', 'hyder']}
{'_id': ObjectId('6468a17939aaba46a90aec15'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6468a17939aaba46a90aec16'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6468a17939aaba46a90aec17'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6468a17939aaba46a90aec18'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6468a17939aaba46a90aec19'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6468a17939aaba46a90aec1a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6468a17939aaba46a90aec1b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6468a17939aaba46a90aec1c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6468a17939aaba46a90aec1d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6468a17939aaba46a90aec1e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6468a17939aaba46a90aec1f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6468a17939aaba46a90aec20'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6468a18f39aaba46a90aec21'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6468a1a639aaba46a90aec22'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6468a1a639aaba46a90aec23'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6468a1a639aaba46a90aec24'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}

In [66]:
coll_create.drop()

In [67]:
for i in coll_create.find():
    print(i)