Database: A database is a structured collection of data that is organized and managed to provide efficient storage, retrieval, and manipulation of data. It provides a way to store, organize, and manage large amounts of data for various applications and purposes.

SQL Database: 
1. SQL (Structured Query Language) databases are relational databases that store data in tables with predefined schemas.
2. Examples of SQL databases include MySQL, Oracle, Microsoft SQL Server, and PostgreSQL.

NoSQL Database:
1. NoSQL (Not Only SQL) databases are non-relational databases that provide a flexible and scalable approach to storing and managing data.
2. Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Neo4j.

## to connect sql with python: following are the requirements
1. Install MySQL Connector/Python: MySQL Connector/Python is a Python driver that allows you to connect Python to MySQL.

2. MySQL Server: You need a running instance of MySQL Server. 

3. MySQL Server Credentials: You'll need the following information to connect to your MySQL server:


        a) Host: The host name or IP address where your MySQL server is running. If it's running on your local machine, you can use "localhost".
        b) Username: The username with the necessary privileges to connect to the MySQL server.
        c) Password: The password for the specified username.
        d) Port: The port number on which your MySQL server is listening. The default port for MySQL is 3306.

In [11]:
import mysql.connector

# Establish a connection to the MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)

# Create a new database
database_name = "your_database"
create_database_query = f"CREATE DATABASE {database_name}"

cursor = connection.cursor()
cursor.execute(create_database_query)
cursor.close()

# Close the connection
connection.close()

print(f"The database '{database_name}' has been created.")

The database 'your_database' has been created.

In [18]:
import mysql.connector

# Establish a connection to the MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="your_database"
)


mycursor = connection.cursor()
mycursor.execute(create_table_query)
# Insert values into the table
mycursor.execute("DROP TABLE your_table")
mycursor.execute("CREATE TABLE if not exists  your_database.test_table (c1 INT , c2 VARCHAR(50),c3 INT , c4 FLOAT , c5 VARCHAR(40))")
mycursor.execute("insert into your_database.test_table values(324,'sudh',456,45.78,'kumar')")
mycursor.execute("insert into your_database.test_table values(324,'josh',789,45.14,'sen')")
mycursor.execute("insert into your_database.test_table values(344,'krish',654,47.45,'naik')")

mycursor.execute("select * from your_database.test_table")

for i in mycursor.fetchall():
    print(i)

# Commit the changes to the database
connection.commit()
mycursor.close()

# Close the connection
connection.close()

print("The table has been created.")

(324, 'sudh', 456, 45.78, 'kumar')
(324, 'josh', 789, 45.14, 'sen')
(344, 'krish', 654, 47.45, 'naik')
(324, 'sudh', 456, 45.78, 'kumar')
(324, 'josh', 789, 45.14, 'sen')
(344, 'krish', 654, 47.45, 'naik')
(324, 'sudh', 456, 45.78, 'kumar')
(324, 'josh', 789, 45.14, 'sen')
(344, 'krish', 654, 47.45, 'naik')
The table has been created.

In [5]:
# here we can use DDL,DML,DQL in same code.