In [1]:
a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [4]:
int('123')

123

In [5]:
print("Hello World")

Hello World

In [6]:
print(123)

123

In [8]:
age=26
print("My age is:",age)

My age is: 26

In [9]:
##  f string
print(f"My age is: {age}")

My age is: 26

In [11]:
## format()
name="unna"
age=26
print("My name is {} and age is {}".format(name,age))

My name is unna and age is 26

In [12]:
##placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is unna and age is 26

In [14]:
name="unna "
age=26
degree="msc"
print("My age is {} and i have completed: my degree {} with the name of {}".format(age,degree,name))

My age is 26 and i have completed: my degree msc with the name of unna

In [24]:
print(f"My age is {age} and I have completed: my degree of {degree} with the name of {name}")

My age is 26 and I have completed: my degree of msc with the name of unna

# Control Flow
   **Here, we are going to review and learn the most fundamentals of Python control flow: Decision making statement and loops.**

## Control Flow
### Decision Making statements
    * It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
    * Structure of decision making evaluate several expressions that provide True or False as a result.
    * It is up to you to decide which type of action want to take and execute the statements based upon True and False.
   
**These are several topics of decision making which going to be discussed below:**
   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

### 4.1.1 If statement
   - In python `if` statement is same as other languages.
   - It is having a logical expression where data is getting compared and based upon comparison result a decision is made.
   
**Examples**

In [3]:
## If Statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [4]:
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [5]:
name=input("Enter the name") #use to give input value

Enter the name 26

In [29]:
age=int(input("Enter your age"))

Enter your age 26

In [30]:
## Take a input of age
## check whether age >=18 and age<=45
## display a message you are young blood

In [31]:
age=int(input('my age is'))
if age>=18 and age<=45:
    print('you are young blood')

my age is 26

you are young blood

### If-else statement

   - With `if` statement an `else` statement is combined.
   - `if-else` statement have a block of code, where `if` is executed when it is `1` or `True` and `else` when `if` is `0` or `False` 
   >**Note:** The `else` statement is consider to be an optional statement, so there could be only one `else` statement in block of code.
   
**Examples**

In [6]:

age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")
else:
    print("Thank you we will let you know")

Enter the age 20

You are young blood

In [34]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

In [39]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 500

The price of the product is 350.0

In [40]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 1000

The price of the product is 700.0

In [7]:
'''Its a good example to get 
the Net payable amount by setting up 
discount at specific price range by using if-else statement'''

Total_Price=int(input("Price: "))
if Total_Price<100:
    discount=Total_Price*0.04
    print ("Discount Rupess: "+str(discount))
else:
    discount=Total_Price*0.1
    print ("Discount Rupess: "+str(discount))
print ("Net payable Amount: ",Total_Price-discount)

Price:  450

Discount Rupess: 45.0
Net payable Amount:  405.0

### If-elif-else statement

   - The `elif` statement is used to check for the multiple `True` expressions and so on if the condition is `True` it execute a block of code.
   - Similar `elif` statement is consider to be an optional like `else` statement. 
   - Though, we can use `elif` statement multiple times in a block of code, but `else` statement can be used only ones
   
**Examples**

In [8]:
'''Its very good example to get 
the Net payable amount by setting up some 
discount at specific price range by using if-elif-else statement'''

Total_Price=int(input("Price: "))
if Total_Price<100:
    discount=Total_Price*0.04
    print ("Discount Rupess: "+str(discount))
elif Total_Price<500:
    discount=Total_Price*0.08
    print ("Discount Rupess: "+str(discount))
else:
    discount=Total_Price*0.1
    print ("Discount Rupess: "+str(discount))
print ("Net payable Amount: ",Total_Price-discount)

Price:  50

Discount Rupess: 2.0
Net payable Amount:  48.0

### Nested If statement

   - In some of the cases, it is required to have other check condition inside a check condition (when it `True`)
   - Such type of scenarios required to have a nested arrangement.
   - Under a nested if arrangement, an `if-elif-else` can be construct inside an another `if-elif-else` construct.
   
**Examples**

In [9]:
'''Its a simple example to check whether 
a number is zero or positive or negative 
using nested if-else statement'''

val = float(input("Enter a number: "))
if val >= 0:
    if val == 0:
        print("Zero")
    else:
        print("Entered number is Positive")
else:
    print("Entered number is Negative")

Enter a number:  120

Entered number is Positive

In [41]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount

In [45]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print('you get a trip to goa')
    print("The price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
     print("The price of the product is {}".format(product_price*0.7))
elif product_price==2999:
    if product_price>=100 and product_price<2000:
        print("The price of the product is {}".format(product_price*0.6))
    print('you will get addtitional benefit')
else:
    print('we will try next time')

Enter the price 1600

we will try next time

### 4.1.5 Single Statement Suites

   - If the suite of `if` section have only a single line, then the header statement may go at same line.

**Examples**

In [47]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
    print("try next time")

Enter the number 1000

try next time

## 4.2 Loops Statements 
   * In loop, the statements are sequentially executed, execution of first function statement is done first, then second and so on.
   * In situation where you need to perform a block of code many times then loop statement will come in to picture. 
   * It allows to execute/run group of statements or a statement multiple time.
   
**These are several topics of loop statements which going to be discussed below:**
   1. **while Loop** 
   2. **for Loop**
   3. **Nested loops**
   4. **Loop Control**
      * **break**
      * **continue**
      * **pass**

### While Loop

   * It repeats a statement or multiple statements when a provided condition is `True`.
   * Before performing a loop body it check for a condition
   
**Examples**

In [15]:
''' A child is learning to count number of 10 rupess in his hand 
and here we have given 5 notes of 10 rupess. 
Output will display the counting of notes and total amount'''
notes=5
i=1
while i <= notes:
    print(i)
    i+=1
print('Total money',notes*10,'rupees')

1
2
3
4
5
Total money 50 rupees

In [16]:
'''Continuing with same example, 
here we using else statement'''

notes = 5
i=1 # starting number intialize
while i<=notes:
    print(i)
    i += 1
else:
    print("No 10 rupees note left")
print('Total Money: ',notes*10,'Rupees')

1
2
3
4
5
No 10 rupees note left
Total Money:  50 Rupees

In [18]:

joining_age=25
while joining_age<=50:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
Its time for retirement

In [11]:
### Atm machine with 1000 rs.every time transaction done only 100rs coming out.if money exhuasted display no money in atm.
total_amount =1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
print('need more amount')

1000
900
800
700
600
500
400
300
200
100
need more amount

### For Loop

   * Here `for` loop statement is used to iterates over an item at any order, items can be a `string` or a `list`.
   
**Examples**

In [19]:
''' A simple example has taken where 
we have several fruits in a list and we display 
this fruit as per the arrangement in list'''

fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"] ## List containing friuts name
for x in fruits_list:
    print(x)

Mango
Cherry
Apple
Papaya
Banana

In [20]:
'''Continuing the previous example with using else statement'''

fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"] ## List containing friuts name
for x in fruits_list:
    print(x)
else:
    print("List has no fruit left!")

Mango
Cherry
Apple
Papaya
Banana
List has no fruit left!

In [21]:
'''An iterative example of string is shown here'''

f_name = "Mango" ## string as input
for x in f_name:
    print(x)

M
a
n
g
o

In [24]:
## range
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [25]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

### Nested Loops

   * Nested loops is used to create one and more number of loop inside an existing `for` or `while` loop.
   
**Examples**

In [22]:
'''Here we use nested for loop to create a triangle'''

n=7 #n is length and width of triangle
for i in range(0, n): #loop to handle the rows 

    for j in range(0, i+1): #loop to handle the columns 

        print("* ",end="") #printing the stars 

    print("\r") #after each row line will end

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [1]:
#assignment
# display stars in eqilateral triangle form

n = int(input("Enter the triangle Length:"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

Enter the triangle Length: 5

    *
   * *
  * * *
 * * * *
* * * * *

###  Loop Control
The loop control is used to change its preceding sequence to different form.

**break statement -** This statement used for a premature terminates of current loop immediately and executes the further statement, just like `break` statement in `C` language.

**continue statement -** When `continue` statement is encountered during an iteration, it directly goes to next iteration without performing remaining statements in present iteration. It returns execution to the starting point of current loop and start further iteration.

   >**Note:** `break` and `continue` can be used in both `while` and `for` loop.

**pass statement -** The `pass` statement is considered as a `null` operation. It is useful when a code (i.e., code required in future) has not written till now, but your code will go eventually.

#### Break statement
**Examples**

In [23]:
'''It is a simple example of break, 
where it immediatly terminate an operation of 
statement body when x is equal to 4'''

x = 1
while x < 7:
    print(x)
    if x == 4:
        break
    x += 1

1
2
3
4

In [24]:
'''Here it terminates the 
operational body when fruit name is Papaya'''

fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"] ## List containing friuts name
for x in fruits_list:
    if x == "Papaya":
        break
    print(x)

Mango
Cherry
Apple

In [46]:
for x in fruits_list:
    print(x)
    if x=='Apple':
            print('apple is my fav food')
            break
            print(x)

Mango
Cherry
Apple
apple is my fav food

#### Continue statement
**Examples**

In [25]:
'''It is a simple example of continue, 
where it simply terminate an current iteration 
when x is equal to 4 and 
continues with next iteration'''

x = 0
while x < 7:
    x += 1
    if x == 4:
        continue
    print(x)

1
2
3
5
6
7

In [26]:
'''In this example it simply terminate 
an current iteration when fruit name is Papaya and 
continues with next iteration'''

fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"] ## List containing friuts name
for x in fruits_list:
    if x == "Papaya":
        continue
    print(x)

Mango
Cherry
Apple
Banana

#### Pass statement
**Examples**

In [27]:
'''A simple example of pass, 
where it is not decided what to do with i'''

for i in [10, 100, 200]:
    pass

In [28]:
'''Continuing with same above example 
if for loop body left simply, then it will throw an error'''

for i in [10, 100, 200]:

SyntaxError: incomplete input (2344064802.py, line 4)